@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

header {
  text-align: center;
}
header img {
  margin: 50px 0;
}
header nav {
  display: flex;
  justify-content: center;
  height: 80px;
}
header nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}
header nav ul li {
  height: 100%;
  padding: 20px 30px;
}
header nav ul li.active {
  background-color: #B2E5FC;
}
header nav ul li:hover {
  background-color: #B2E5FC;
}
header nav ul li a {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.bg-container {
  padding: 50px 0;
  background-image: url("../img/fondo-pag-speciali.jpg");
  background-repeat: repeat;
}
.bg-container .container section {
  margin-bottom: 20px;
}
.bg-container .container section h2 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 400;
  color: #002D73;
}
.bg-container .container section .cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.bg-container .container section .cards .card {
  position: relative;
  width: calc(100% / 3 - 20px);
  margin: 10px;
}
.bg-container .container section .cards .card img {
  display: block;
  width: 100%;
}
.bg-container .container section .cards .card .card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #50c4f8;
  opacity: 0;
  transition: all 0.3s linear;
}
.bg-container .container section .cards .card .card-link a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.bg-container .container section .cards .card:hover .card-link {
  opacity: 1;
}

footer {
  padding: 100px 0 150px 0;
  background-image: url("../img/footer-montagne-bottom.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  color: #a1a8b2;
  font-weight: 600;
}
footer .columns {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
footer .columns .column {
  width: calc(100% / 3 - 20px);
  margin: 0 10px;
}
footer .columns .column:not(:first-child) h3 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
}
footer .columns .column:not(:first-child) ul {
  margin-bottom: 20px;
}
footer .columns .column:not(:first-child) ul li a {
  text-decoration: none;
  color: #a1a8b2;
  font-weight: 600;
}
footer .columns .column:not(:first-child) ul li a:hover {
  text-decoration: underline;
}
